body {
  margin:0;
  background: url('../images/roberto-nickson-HQMyV8a_4_4-unsplash.jpg');;

  height: 90%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: -50px;
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

#input {

  border-radius: 5%;
  width: 33%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 
}

select {
  margin-top: 10px;
  width: 160px;
  height: 50px;
  border-radius: 5%;
  border: #0277CA 1px solid;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-top: 10px;
  width: 70px;
  height: 35px;
  border-radius: 5%;
  background-color: blue;
  color:white;
  border: #0277CA 1px solid;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


#output {
  background-color: white;
  width: 33%;
  height: 80%;
  border-radius: 5%;
}

html {
  height: 100%;
  margin: 0;
}

a {
  color: #00B7FF;
}
