body {
  margin:0;
  background: url('../images/roberto-nickson-HQMyV8a_4_4-unsplash.jpg');;

  height: 90%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: -50px;
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

#input {
  
  background-color: white;
  border-radius: 7%;
  width: 33%;
  height: 50%;
}

#output {
  background-color: white;
  width: 33%;
  height: 80%;
}

html {
  height: 100%;
  margin: 0;
}

a {
  color: #00B7FF;
}
